<nav aria-label="Breadcrumb" class="pt-6">
    <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
            <div class="flex items-center">
                <a href="/admin" class="mr-2 text-sm font-medium text-gray-900">Админ. панель</a>
                <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
                    class="h-5 w-4 text-gray-300">
                    <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                </svg>
            </div>
        </li>
        <li>
            <div class="flex items-center">
                <a href="#" class="mr-2 text-sm font-medium text-gray-900">
                    Пользователи (создание)
                </a>
            </div>
        </li>
    </ol>
</nav>
<section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <form id="createUserForm" action="" class="container flex flex-col mx-auto space-y-10">
        <span id="createUserError" class="text-red-900"></span>
        <span id="createUserSuccess" class="text-green-900"></span>
        <fieldset class="rounded-md shadow-sm dark:bg-gray-900">
            <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
                <div class="col-span-full sm:col-span-2">
                    <label for="name" class="text-sm">ФИО</label>
                    <input required id="name" type="text" placeholder="ФИО пользователя"
                        class="w-full rounded-md focus:ring focus:ri focus:ri dark:border-gray-700 dark:text-gray-900">
                </div>
                <div class="col-span-full sm:col-span-2">
                    <label for="role" class="text-sm">Выберите
                        роль</label>
                    <select multiple="multiple" id="role"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="user">Пользователь</option>
                        <option value="manager">Менеджер</option>
                        <option value="admin">Админ</option>
                    </select>
                </div>
                <div class="col-span-full sm:col-span-2">
                    <label for="email" class="text-sm">Email</label>
                    <input required id="email" type="email" placeholder="Email"
                        class="w-full rounded-md focus:ring focus:ri focus:ri dark:border-gray-700 dark:text-gray-900">
                </div>
                <div class="col-span-full sm:col-span-2">
                    <label for="password" class="text-sm">Пароль</label>
                    <input required id="password" type="password" placeholder="Пароль"
                        class="w-full rounded-md focus:ring focus:ri focus:ri dark:border-gray-700 dark:text-gray-900">
                </div>
                <div class="col-span-full sm:col-span-2">
                    <label for="image" class="text-sm">Изображение</label>
                    <input id="image" type="text" placeholder="Изображение"
                        class="w-full rounded-md focus:ring focus:ri focus:ri dark:border-gray-700 dark:text-gray-900">
                </div>
                <div class="col-span-full sm:col-span-6 flex justify-center    ">
                    <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Создать пользователя
                    </button>
                </div>
            </div>
            </div>
        </fieldset>
    </form>
</section>