<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="/public/styles/style.css" rel="stylesheet">
    <title>Best Shop ever</title>
    <script type="module" src="/public/build/bundle.esm.js"></script>
    <script nomodule src="/public/build/bundle.umd.js"></script>
</head>

<body>
    <%- include('header.ejs', { cartItemsCount: 5 }) %>
        <div class="bg-white min-h-[calc(100vh-241px)] overflow-auto lg:rounded-tl-3xl">
            <%-body%>
        </div>
        <%- include('footer.ejs') %>
</body>

</html>